#firstTitle{
    font-family: 'arial';
    color: rgb(102, 7, 106);
    text-align: center;
    margin-top:200px;
    padding-right:395px;
    font-size:30px;
    font-weight: bolder;
    right: 50px;


   
    }
  #secondTitle{
    font-family: 'arial';
    color: rgb(187, 182, 187);
    text-align: center;
    padding-right:420px;
    font-size:15px;
  }
  .box1
  {
      width:21%;
      height:190px;
      background-color:rgb(81, 5, 84);
      border-radius: 5px;
      margin-top: 30px;
      float: left;
      margin-left: 220px;
   
  
  }
  .box2{
    width:20%;
    height:190px;
    background-color:rgb(81, 5, 84);
    border-radius: 5px;
    margin:auto;
    margin-top:60px;
  
  }
    
  .box3
  {
    width:20%;
    height:190px;
    background-color:rgb(81, 5, 84);
    border-radius: 5px;
    margin-top: -170px;
    float: right;
    margin-right:235px;
  }
  .box1 h1{
    font-size: 10px;
    font-family: arial;
    padding-left: 20px;
    color:rgb(255, 255, 255);
    margin-top: 20px;
    font-weight: 100;
    line-height: 12pt;
  }
   .box1 p{
        color:rgb(113, 21, 150);
        padding-left: 60px;
        font-size: 15px;
        font-family: arial;

    }
 
 .box2 h2{
    font-size: 10px;
    font-family: arial;
    padding-left: 20px;
    color:rgb(255, 255, 255);
    margin-top: 20px;
    font-weight: 100;
    line-height: 12pt;
 }
 .box2 p{
    color:rgb(113, 21, 150);
    padding-left: 20px;
    font-size: 15px;
    font-family: arial;
 }
 .box3 h2{
    font-size: 10px;
    font-family: arial;
    padding-left: 20px;
    color:rgb(255, 255, 255);
    margin-top: 20px;
    font-weight: 100;
    line-height: 12pt;
 }
 .box3 p{
    color:rgb(113, 21, 150);
    padding-left: 20px;
    font-size: 15px;
    font-family: arial;
 }
 .imgRedonda {
    width:40px;
    height:40px;
    border-radius:50px;
    margin-top: 50px;
}
.img{
   float: left;
   margin-top: -228px;
   margin-left: 228px;
}
.button{
    background-color: hsl(291, 37%, 89%);
    color: #7c057c;
    height: 40px;
    border-radius: 9px;
    font-size: 15px;
    font-weight: 100;
    border: 0;
    width:35%;
    margin-left:560px;
    margin-top:-260px;
    text-align: center;
}
  
.button1{
    background-color: hsl(291, 37%, 89%);
    color: #7c057c;
    height: 40px;
    border-radius: 9px;
    font-size: 15px;
    font-weight: 100;
    border: 0;
    width:35%;
    margin-left:650px;
    margin-top:80px;
    text-align: center;
}
  
.button2{
    background-color: hsl(291, 37%, 89%);
    color: #7c057c;
    height: 40px;
    border-radius: 9px;
    font-size: 15px;
    font-weight: 100;
    border: 0;
    width:35%;
    margin-left:600px;
    margin-top:-100px;
    text-align: center;
}
  

   